nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  height: 80px;
  box-sizing: border-box;
  padding: 0 30px;
  margin-bottom: 30px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
}

li a {
  text-decoration: none;
}

.navLink {
  color: gray;
  transition: all 250ms ease-in-out;
}

.navLink:hover {
  color: rgb(80, 80, 80);
}

.active {
  color: rgb(80, 80, 80);
  font-weight: 700;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}
