@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'YsabeauOffice';
  src:
    url('./fonts/YsabeauOffice-BlackItalic.ttf') format('ttf'),
    url('./fonts/YsabeauOffice-Black.ttf') format('ttf'),
    url('./fonts/YsabeauOffice-Bold.ttf') format('ttf'),
    url('./fonts/YsabeauOffice-ExtraBoldItalic.ttf') format('ttf'),
    url('./fonts/YsabeauOffice-Medium.ttf') format('ttf'),
    url('./fonts/YsabeauOffice-Regular.ttf') format('ttf');
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}
